<h1>Конфигуратор</h1>
<p>Выберите материнскую плату</p>
<select (click)="getMaterinka()" class="Sel">
  <option *ngFor="let Materinka of Materink" >{{Materinka.Name}}</option>
</select>
<p>Процессор</p>
<select (click)="getProces()" class="Sel">
  <option *ngFor="let Procesa of Proces" >{{Procesa.Name}}</option>
</select>
<p>Видеокарту</p>
<select (click)="getVideoCard()" class="Sel">
  <option *ngFor="let VideoCarda of VideoCard" >{{VideoCarda.Name}}</option>
</select>
<p>Оперативную память</p>
<select (click)="getOzy()" class="Sel">
  <option *ngFor="let Ozya of Ozy" >{{Ozya.Name}}</option>
</select>
<p>SSD</p>
<select (click)="getDisk()" class="Sel">
  <option *ngFor="let Diska of Disk" >{{Diska.Name}}</option>
</select>
<p>Блок питания</p>
<select (click)="getBlockPitania()" class="Sel">
  <option *ngFor="let BlockPitania of BlockPitania" >{{BlockPitania.Name}}</option>
</select>
<p>Кулер</p>
<select (click)="getKyler()" class="Sel">
  <option *ngFor="let Kylers of Kyler" >{{Kylers.Name}}</option>
</select>